body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.App {
  // max-height: 100vh !important;
}
h1 {
  font-size: 2rem;
  color: #333;
  margin: auto 0;
  
}
.mode__button {
  margin: auto 0;
  font-size: 2rem;
}
.navbar {
  border-bottom: 2px solid #bebebe;
  display: flex;
  height: 55px;
  margin-bottom: 30px;
  justify-content: space-around;
}
/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}
.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}
.row > div.null {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    // background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    // background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    // color: #eee;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}
.row.current > div.filled {
  animation: bounce 0.1s ease-in-out forwards;
}
.keypad {
  max-width: 500px;
  margin: 20px auto;
}
.keypad > div {
  margin: 5px;
  min-width: 40px;
  // padding: 0 2px;
  height: 50px;
  background: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}
.click {
  transition: 200ms;
}
.click:hover {
  scale: 0.9;
}
.click:active {
  scale: 1.1;
}
.keypad > div.green {
  background: #5ac85a !important;
  transition: all 0.3s ease-in !important;
}
.keypad > div.almost {
  background: #e2cc68 !important;
  transition: all 0.3s ease-in !important;
}
.keypad > div.null {
  background: #a1a1a1 !important;
  transition: all 0.3s ease-in !important;
}
.scores{
  margin: auto 0;
  .scores__statement{
    margin: auto 0;
  }
}